<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/414160/pexels-photo-414160.jpeg?cs=srgb&dl=beautiful-bloom-blooming-414160.jpg&fm=jpg);">
  <div class="container">
    <h1>Gardens & Plants</h1>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <% @gardens.each do |garden| %>
      <div class="col-4">
        <%= link_to garden_path(garden) do  %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= garden.banner_url %>')">
            <%= garden.name%>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<%= link_to 'New Garden', new_garden_path %>