<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/414160/pexels-photo-414160.jpeg?cs=srgb&dl=beautiful-bloom-blooming-414160.jpg&fm=jpg);">
  <div class="container">
    <h1>Gardens & Plants</h1>
  </div>
</div>
<br>
<%= link_to 'New Garden', new_garden_path %>